SECRET_KEY=cambia_esto_por_una_clave_larga
BASE_URL=http://127.0.0.1:5000
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURITY=ssl
SMTP_EMAIL=garzaromerojeshuaabiram2019ktv@gmail.com
SMTP_APP_PASSWORD=app_password_de_gmail
ADMIN_EMAIL=garzaromerojeshuaabiram2019ktv@gmail.com
